body {
    background-color: var(--black-color);
}

.button-primary {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all 0.1s;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-primary:hover {
    background-color: #f46217;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button-primary:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
