:root {
    --primary-color: #FCB533;
    --secondary-color: #2B86E7;
    --accent-color: #F46217;
    --black-color: #0b0704;
    --white-color: #f8f2e7;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent {
    color: var(--accent-color);
}

.black {
    color: var(--black-color);
}

.white {
    color: var(--white-color);
}

.font-primary {
    color: var(--primary-color);
}

.font-secondary {
    color: var(--secondary-color);
}

.font-accent {
    color: var(--accent-color);
}

.font-black {
    color: var(--black-color);
}

.font-white {
    color: var(--white-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.bg-black {
    background-color: var(--black-color);
}

.bg-white {
    background-color: var(--white-color);
}
